/**
 * Place your custom styles here.
 */
h2 {
       margin-top:0;
}
h2 > a {
    color:black;
    font-size: 0.6em;

}
/*.teaser {
 //   padding: 1em;
}*/
/**
 * Remove Second Search Box
 */
.region-content .form-type-search {
    display: none;
}

/**
 * FOOTER
 */
 .region-footer nav a{    
 color: #9098a8;
    display: inline-block;
    padding: 0 .68em;
    border-radius: 1em;
	line-height: 1.4;
	}
 
 .region-footer nav a:hover{
	     background: #f1f2f4;
 }
 
 @media (min-width: 768px){
 .region-footer section{
	width:25%;
	display: inline-block;
	vertical-align: top;
	}
  nav#block-informatie, nav#block-contact{
	  width:25%; 
	  display: inline-block; 
	  vertical-align: top;
	  }
 }
 


@media (min-width: 768px){
.navbar-nav {
    float: left;
    margin: 0;
    padding-top: 1.2em;
}
.navbar-default .navbar-nav>li>a {
    color:black;
}
.nav>li>a {
    font-size: 1.1em;
}
.navbar-default {
    background-color: white;
    border-color: white;
}
.btn-primary {
    background-color: black;
    border-color: black;
    
}
.btn-primary:hover {
    background-color: black;
    border-color: white;
    
}
.form-control:focus {
    border-color: black;
    box-shadow: none;
}
.views-view-grid .views-col {
    padding: 1em;
}
}